@font-face {
    font-family: vazir;
    src: url(../../font/Vazir-Thin.woff2)format(woff2);
}

@font-face {
    font-family: yekan;
    src: url(../../font/Yekan.woff2)format(woff2);
}

@font-face {
    font-family: iransans;
    src: url(../../font/IRANSansWeb_Medium.woff2)format(woff2);
}

@font-face {
    font-family: Bnazanin;
    src: url(../../font/BNazanin.woff2)format(woff2);
}
body {
    font-family: iransans;
    margin: 0;
    padding: 0;
    height: 950px;
    max-width: 2000px;
    direction: rtl;
}
/* منوی راست */
.menu {
    height: 900px;
    width: 6.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
}

.logo {
    font-size: 25px;
    color: #5e5e5e;
}

.ghatre {
    margin-top: 25px !important;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36.5px;
    transition: all ease-out 0.5s;
    text-decoration: none;
}

.menu_items-text:hover {
    color: #F66B64;
}

.menu_items-text {
    color: #666666;
    margin-top: 4px;
}

/* منوی راست پایان */
/* منوی بالا */
.topbar {
    margin-top: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90.4%;
    height: 80px;
    margin-left: 1.1%;
    margin-right: 2%;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user p {
    margin-right: 10px;
    margin-top: 5px;
}


.topbar-r {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.icon-menu {
    font-size: 1.5rem !important;
    margin-left: 15px;
    display: none;
}

/* منوی بالا پایان */
/* جدول بارش و آبیارری */
.tabel-box {
    height: 600px;
    width: 88.4%;
    float: left;
    margin-left: 1.1%;
    margin-right: 2%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    height: 590px;
    direction: ltr;
    transition: all ease 0.3s;
    text-align: center;
    margin-left: 10px;

}

.t-heder {
    color: #4b4b4b;
}

.t-item {
    color: #888888;
    transition: all ease 0.2s;
}

.tabel-box table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tabel-box th,
.tabel-box td {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}



/* جدول بارش و آبیارری پایان */
@media screen and (max-width:1024px) {
    .menu {
        width: 10%;
    }
    .topbar {
        width: 86%;
    }
    .tabel-box {
        width: 84%;
    }
}
@media screen and (max-width:768px) {
    .conteyner {
        width: 98%;
    }

    * {
        font-size: 14px;
    }

    .icon-menu {
        display: block;
        font-size: 1.8rem;
    }

    .bi {
        font-size: 1.8rem;
    }

    .menu {
        width: 150px;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -210px;
        overflow-x: scroll;
        transition: 0.4s all;
    }

    .menu-items {
        margin-top: 5px !important;
    }

    .icon-menu {
        display: block;
    }

    .topbar,
    .conteyner-box {
        width: 99%;
    }
    .tabel-box {
        width: 97%;
    }
}

/* اسکرول بار */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
    background: #f3f3f3;
}

/* اسکرول بار پایان */

/* حالت تاریک */
body {
    background-color: #f0f0f0;
    color: #666666;
    transition: 0.3s, color 0.3s;
}

.box {
    background-color: #ffffff;
    color: #666666;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s, color 0.3s;
}

.switch {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    display: none;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: #FFFFFF;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 45px;
}

/* استایل حالت تاریک */
.dark {
    background-color: #0F0F2F;
    color: #ffffff !important;
}

.dark .menu,
.dark .topbar,
.dark .tabel-box,
.dark p,
.dark td,
.dark .t-heder {
    background-color: #010123;
    color: #ffffff !important;
}
/* استایل حالت تاریک پایان */