@font-face {
    font-family: vazir;
    src: url(../../font/Vazir-Thin.woff2)format(woff2);
}

@font-face {
    font-family: yekan;
    src: url(../../font/Yekan.woff2)format(woff2);
}

@font-face {
    font-family: iransans;
    src: url(../../font/IRANSansWeb_Medium.woff2)format(woff2);
}

@font-face {
    font-family: Bnazanin;
    src: url(../../font/BNazanin.woff2)format(woff2);
}

body {
    font-family: iransans;
    margin: 0;
    padding: 0;
    height: 2400px !important;
    max-width: 2000px;
    direction: rtl;
    font-size: 18px;
}





/* منوی راست */
.menu {
    height: 2170px;
    width: 6.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo {
    font-size: 25px;
    color: #5e5e5e;
}

.ghatre {
    margin-top: 25px !important;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36.5px;
    transition: all ease-out 0.5s;
    text-decoration: none;
}

.menu_items-text:hover {
    color: #F66B64;
}

.menu_items-text {
    color: #666666;
    margin-top: 4px;
}

.selected {
    color: #F66B64;
}

/* منوی راست پایان */
/* منوی بالا */
.topbar {
    margin-top: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90.4%;
    height: 80px;
    margin-left: 1.1%;
    margin-right: 2%;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user p {
    margin-right: 10px;
    margin-top: 5px;
}

.img-user img {
    border-radius: 64px;
}

.notification {
    margin-right: 20px;
    margin-bottom: 10px;
}

.seting {
    margin-right: 5px;
    margin-bottom: 10px;
}

.topbar-r {
    display: flex;
    align-items: center;
}


.icon-menu {
    font-size: 1.5rem !important;
    margin-left: 15px;
    display: none;
}

/* منوی بالا پایان */
/* نمودار */
.chart-box {
    height: 700px;
    width: 90%;
    margin-left: 1%;
    margin-right: 2%;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #00000040,
    -2px -2px 4px #00000040;
    padding-top: 10px;
}

.chart-box h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.chart-box canvas {
    height: 620px !important;
    width: 100% !important;
}

.chartjs-render-monitor {
    animation: chartjs 1.5s ease-in-out !important;
    transition: all ease 0.3s !important;
}

@keyframes chartjs {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.chart-box h3 {
    margin-right: 8px;
}

/* نمودار پایان */

/* رطوبت فعلی */
.conteyner-box {
    display: flex;
    float: left;
    width: 90%;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.rotobat {
    width: 35%;
    height: 540px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    border-radius: 10px;
}

.rotobat h4 {
    margin-top: 25px;
}

.conteyner-darsad {
    position: relative;
    width: 25%;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
    align-items: center;
}

.darsad {
    width: 200px;
    height: 200px;
    border-top: 4px solid #FFC776;
    border-bottom: 3px solid #FFC776;
    border-radius: 128px;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}

.svg-darsad {
    position: absolute;
}

.darsad-text {
    font-size: 45px;
    margin-bottom: 0;
    transition: all ease 0.8s;
    margin-top: 0;
}

.darsad:hover {
    transform: rotateZ(360deg);
}

/* رطوبت فعلی پایان */
/* دمای فعلی هوا */
.dama-box {
    width: 35%;
    height: 540px;
    padding: 5px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.21);
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
    border-radius: 10px;

}

.svg-dama:hover {
    animation: dama 0.5s ease;
}

@keyframes dama {
    0% {
        transform: rotate(15deg);
    }

    25% {
        transform: rotate(-15deg);

    }

    50% {
        transform: rotate(25deg);

    }

    75% {
        transform: rotate(-25deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

.svg-dama {
    margin-right: 15px;
}

.dama-text {
    margin-right: 50px;
}

.dama-text p {
    margin-bottom: 25px;
    font-size: 350%;
}

/* دمای فعلی هوا پایان */

/* اسکرول بار */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e0e0e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f3f3f3;
}

/* اسکرول بار پایان */

@media screen and (max-width:1024px) {

    .svg-dama,
    .svg-darsad {
        display: none;
    }

    .dama-text {
        margin-left: auto;
        margin-right: auto;
    }
    .chart-box,.conteyner-box {
        width: 87%;
    }
}

@media screen and (max-width:768px) {
    body {
        height: 2100px;
    }

    * {
        font-size: 14px;
    }

    .menu {
        width: 150px;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -210px;
        overflow-x: scroll;
        transition: 0.4s all;
    }

    .menu-items {
        margin-top: 5px !important;
    }

    .icon-menu {
        display: block;
        font-size: 1.8rem;
    }

    .topbar,
    .conteyner-box {
        width: 99%;
    }


    .chart-box {
        width: 98%;
        height: 630px;
        overflow: scroll;
    }

    .conteyner {
        width: 99%;
    }
    .chart-box canvas {
        width: 1200px !important;
        height: 580px !important;
    }
    footer {
        margin: 40px 20px !important;
    }
}

@media screen and (max-width:700px) {
    .conteyner {
        padding: 5px;
    }

    .conteyner-box {
        flex-direction: column;
        width: 98%;
    }

    .rotobat,
    .dama-box {
        width: 96%;
        margin-top: 15px;
    }
}
@media screen and (max-width:425px){
    footer {
        margin: 40px 10px !important;
        
    } 
}
/* استایل حالت تاریک */
.dark {
    background-color: #0F0F2F;
    /* رنگ پس‌زمینه در حالت تاریک */
    color: #ffffff !important;
    /* رنگ متن در حالت تاریک */
}

.dark .menu,
.dark .topbar,
.dark .chart-box,
.dark .tabel-box,
.dark .rotobat,
.dark .dama-box,
.dark .mail-box,
.dark p,
.dark td,
.dark .t-heder {
    background-color: #010123;
    color: #ffffff !important;
}

.dark .flicker {
    transform: translateX(40px);
}


.dark ::-webkit-scrollbar-track {
    background: #010123;
    /* رنگ پس‌زمینه اسکرول‌بار در حالت تاریک */
}

.dark ::-webkit-scrollbar-thumb {
    background: #0F0F2F;
    /* رنگ دستگیره اسکرول‌بار در حالت تاریک */
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #0F0F2F;
    /* رنگ دستگیره اسکرول‌بار هنگام هاور در حالت تاریک */
}