<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /ghatre/

    # Check if the request is not a directory
    RewriteCond %{REQUEST_FILENAME} !-d

    # Check if the request is not a file
    RewriteCond %{REQUEST_FILENAME} !-f

    # Redirect all other requests to index.php with query parameter 'url'
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
