<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ورود/ثبت نام</title>
  <link rel="stylesheet" href="../assets/css/login-style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="title-text">
    <div class="title login">ورود</div>
    <div class="title signup">ثبت نام</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login">ورود</label>
      <label for="signup" class="slide signup">ثبت نام</label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
      <form action="#" class="login margin">
        <div class="field">
          <input type="text" placeholder="ایمیل" required>
        </div>
        <div class="field">
          <input type="password" placeholder="گذرواژه" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="ورود">
        </div>
        <div class="signup-link">حسابی ندارید؟<a href="#">ثبت نام کنید</a></div>
      </form>
      <form action="#" class="signup">
        <div class="field">
          <input type="text" placeholder="نام" required>
        </div>
        <div class="field">
          <input type="text" placeholder="نام خانواگی" required>
        </div>
        <div class="field">
          <input type="number" placeholder="شماره تلفن" required>
        </div>
        <div class="field">
          <input type="email" placeholder="ایمیل" required>
        </div>
        <div class="field">
          <input type="password" placeholder="گذرواژه" required>
        </div>
        <div class="field">
          <input type="password" placeholder="تکرار گذرواژه" required>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <input type="submit" value="ثبت نام">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- partial -->
  <script  src="../assets/js/login-script.js"></script>

</body>
</html>
