@font-face {
    font-family: vazir;
    src: url(../../font/Vazir-Thin.woff2)format(woff2);
}
@font-face {
    font-family:yekan ;
    src: url(../../font/Yekan.woff2)format(woff2);
}
@font-face {
    font-family:iransans ;
    src: url(../../font/IRANSansWeb_Medium.woff2)format(woff2);
}
@font-face {
    font-family:Bnazanin ;
    src: url(../../font/BNazanin.woff2)format(woff2);
}
* {
    /* font-family: 'vazir'; */
    direction: rtl;
}



body {
    font-family: iransans;
    margin: 0;
    padding: 0;
  }
  


.conteyner {
    width: 100%;
    transition: all step-end 0.5s;
    height: 900px;
    max-width: 1900px;
}


/* منوی راست */
.menu {
    height: 950px;
    width: 6.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 25px;
    color: #5e5e5e;
}

.ghatre {
    margin-top: 25px !important;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36.5px;
    transition: all ease-out 0.5s;
    text-decoration: none;
}

.menu_items-text:hover {
    color: #F66B64;
}

.menu_items-text {
    color: #666666;
    margin-top: 4px;
}

/* منوی راست پایان */
/* منوی بالا */
.topbar {
    margin-top: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90.4%;
    height: 80px;
    margin-left: 1.1%;
    margin-right: 2%;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user p {
    margin-right: 10px;
    margin-top: 5px;
}

.img-user img {
    border-radius: 64px;
}

.notification {
    margin-right: 20px;
    margin-bottom: 10px;
}

.seting {
    margin-right: 5px;
    margin-bottom: 10px;
}

.topbar-r {
    display: flex;
    align-items: center;
}

.icon-menu {
    font-size: 1.8rem;
    margin-left: 15px;
    display: none;
}

/* منوی بالا پایان */
/* صندوق پیام */
.mail-box {
    width: 90.4%;
    margin-top: 30px;
    margin-left: 1.1%;
    margin-right: 2%;
    float: right;
}
.mail-box h2 {
    height: 50px;
    width: 98%;
    border-radius: 10px;
    padding-right: 10px;
}
.mail-items {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: -4px -2px 8px rgba(0, 0, 0, 0.3),
     4px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 20px;
}
.icon-mail{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.icon-mail p {
    margin-right: 20px;
}
.text-alert p{
    margin-right: 30px;
}
@media screen and (max-width:768px) {
    *{
        font-size: 14px;
    }
    .menu {
        width: 150px;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -210px;
        overflow-x: scroll;
        transition: 0.4s all;
    }
    .bi{
        font-size: 1.6rem;
    }
    .menu-items {
        margin-top: 5px !important;
    }

    .icon-menu {
        display: block;
        margin-bottom: 10px;
    }

    .topbar,
    .conteyner-box {
        width: 99%;
    }
    table{
        width: 115%;
    }
    .t-link{
        padding: 2.5px 5px;
    }
    .mail-box {
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
}


/* اسکرول بار */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
    background: #f3f3f3;
}

/* اسکرول بار پایان */



body {
    background-color: #f0f0f0; /* رنگ پس‌زمینه در حالت روشن */
    color: #666666; /* رنگ متن در حالت روشن */
    transition:  0.3s, color 0.3s;
}

.box {
    background-color: #ffffff; 
    color: #666666; 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    transition:  0.3s, color 0.3s;
}

.switch {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    display: none;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: #FFFFFF;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 45px;
}

/* استایل حالت تاریک */
.dark {
    background-color: #0F0F2F; /* رنگ پس‌زمینه در حالت تاریک */
    color: #ffffff !important ; /* رنگ متن در حالت تاریک */
}

.dark .menu,.dark .topbar,
.dark .mail-items,.dark p,.dark .mail-box h2{
    background-color: #010123 ; 
    color: #ffffff !important ; 
}